 h1 {
     text-align: center;
     margin-top: 9rem;
     line-height: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
     font-weight: 100;
 }
 
 .container {
     display: flex;
     border: 2px solid blue;
     background-color: rgb(13, 184, 184);
     justify-content: center;
     height: 100vh;
     width: 100vw;
     /* background-color: aqua; */
 }
 
 .box {
     color: aliceblue;
     /* border: 2px solid black; */
     height: 43vh;
     margin-top: 232px;
     background-color: rgba(0, 134, 134, 0.849);
     display: inline;
     box-shadow: 1px 1px 5px black;
     line-height: 20px;
 }
 
 #right {
     padding-left: 10px;
 }
 
 #right {
     display: inline-block;
     background-color: black;
     width: 25vw;
     font-size: 10px
 }
 
 input {
     background-color: transparent;
     border-style: solid;
     display: block;
     color: white;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     /* width: 200px; */
     /* border-width: 1px; */
     /* border-collapse: 10px; */
 }
 
 #checkbox {
     margin-top: 15px;
 }
 
 span p {
     margin: auto;
     text-align: center;
     font-family: sans-serif;
 }
 
 #button {
     color: white;
     background-color: rgb(4, 167, 167);
     display: flex;
     justify-content: center;
 }
 
 .formerror {
     color: red;
     /* font-size: 500px; */
 }
 
 @media only screen and (max-width:650px) {
     .container {
         display: block;
     }
     #right {
         height: fit-content;
         width: 100vw;
     }
 }